/adhoc
/data/saved_models
/data/scheduling_results
/fpga/data/__pycache__
/fpga/data/lenet/*.txt
/fpga/data/lenet/*.p
/simulation/models/__pycache__
/simulation/event_driven_simulation/__pycache__
/testbed/dc_coupling/__pycache__
/testbed/dc_coupling/data
/testbed/demos/__pycache__
/testbed/photonics/__pycache__
simulation/event_driven_simulation/__pycache__
simulation/event_driven_simulation/archive_data
simulation/event_driven_simulation/completed_reqs
simulation/event_driven_simulation/generated_reqs
simulation/event_driven_simulation/numgens
simulation/event_driven_simulation/sim_times
simulation/event_driven_simulation/sim_data
simulation/event_driven_simulation/plots
simulation/event_driven_simulation/built_models